<% if current_user %>
  <h2><%= current_user.email %>'s todo items</h2>
  <%= render partial: 'items/item', locals: {items: @items} %>
  <%= render partial: 'items/form', locals: {user: @user} %>
<% end %>

<% if !current_user %>s
  <h2>Please sign up or sign in</h2>
<% end %>
