<div class="jumbotron">
  <h1>blocitoff</h1>
  <h3>Welcome to blocitoff, a todo list app</h3>
  <p>
    <%= link_to "sign in", new_user_session_path %> or
    <%= link_to "sign up", new_user_registration_path, class: 'btn' %>
  </p>
</div>
